<!-- Created by kunkuntang on 2016/11/21. -->

<div class="footer container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1 col-md-3 infomation">
      <div class="phone">客服号码：13527057366</div>
      <address>公司地址：广东省肇庆市高要区。。</address>
    </div>
    <div class="col-sm-3 col-sm-offset-1 col-md-offset-2 col-md-2 text-center">
      <div class="EQ">客服微信号</div>
      <img src="/img/personalEQ.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-sm-3 text-center col-md-offset-1 col-md-2 text-center">
      <div class="EQ">官方微信公众号</div>
      <img src="/img/wechatEQ.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="copyright text-center">Copyright&copy;凌尔&nbsp;&nbsp;&nbsp;2017</div>
  </div>
</div>