<nav class="navbar navbar-default navbar-fixed-top le-nav" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="linger-nav" type="button"></button>
        <span class="sr-only">Movie</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <a href="#" class="navbar-brand">Linger</a>
    </div>
    <div class="collapse navbar-collapse" id="linger-nav">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">首页</a>
        </li>
        <li>
          <a href="/production">产品介绍</a>
        </li>
        <li>
          <a href="/about">公司介绍</a>
        </li>
      </ul>
    </div>
  </div>
</nav>