<!-- Created by kunkuntang on 2017/3/1. -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/footer.css">
	{{{_sections.homeCss}}}
	{{{_sections.aboutCss}}}
	{{{_sections.productionCss}}}
</head>
<body>
	{{> header}}
	{{{body}}}
	{{> footer}}
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/common.js"></script>
</html>