<!-- Created by Administrator on 2016/11/16. -->
{{#section 'aboutCss'}}
	<link rel="stylesheet" href="/css/about.css">
{{/section}}

<div class="banner container-fluid">
	<div class="row">
    	<div class="banner-detail">凌尔</div>
	</div>
</div>
<div class="section">
	<div class="summery"></div>
</div>
<div class="section">
	<div class="content">
		<div class="title">
			<div class="icon"></div>
		</div>
	</div>
</div>
