<!-- Created by Administrator on 2016/11/16. -->

{{#section 'homeCss'}}
	<link rel="stylesheet" href="/css/index.css">
{{/section}}

<div class="banner container-fluid">
  <div class="bannerPic">
    <div class="text-center banner-text">专业门窗、门控、幕墙五金配套专家</div>
  </div>
</div>
<div class="produtions container-fluid pro-introduce">
  <div class="row">
    <div class="title text-center">产品展示</div>
  </div>
  <div class="pic text-center col-md-4 col-sm-6">
    <div class="row">
      <img src="/img/pro_induce.jpg" alt="" class="img-responsive pro-pic">
    </div>
  </div>
  <div class="col-md-2 col-sm-3">
    <img src="/img/pro_introduce_small.jpg" alt="" class="img-responsive">
    <div class="detail text-center">详细介绍</div>
  </div>
  <div class="col-md-2 col-sm-3">
    <img src="/img/pro_introduce_small.jpg" alt="" class="img-responsive">
    <div class="detail text-center">详细介绍</div>
  </div>
  <div class="col-md-2 col-sm-3">
    <img src="/img/pro_introduce_small.jpg" alt="" class="img-responsive">
    <div class="detail text-center">详细介绍</div> 
  </div>
  <div class="col-md-2 col-sm-3">
    <img src="/img/pro_introduce_small.jpg" alt="" class="img-responsive">
    <div class="detail text-center">详细介绍</div> 
  </div>
  <div class="col-md-2 col-sm-3">
    <img src="/img/pro_introduce_small.jpg" alt="" class="img-responsive">
    <div class="detail text-center">详细介绍</div> 
  </div>
  <div class="col-md-2 col-sm-3">
    <img src="/img/pro_introduce_small.jpg" alt="" class="img-responsive">
    <div class="detail text-center">详细介绍</div> 
  </div>
  <div class="col-md-2 col-sm-3">
    <img src="/img/pro_introduce_small.jpg" alt="" class="img-responsive">
    <div class="detail text-center">详细介绍</div> 
  </div>
  <div class="col-md-2 col-sm-3">
    <img src="/img/pro_introduce_small.jpg" alt="" class="img-responsive">
    <div class="detail text-center">详细介绍</div> 
  </div>
</div>
<div class="company container-fluid">
  <div class="title text-center">公司简介</div>
  <div class="row">
    <div class="pic col-sm-6">
      <img src="/img/company_introduce.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-sm-6 com-introduce">
      <div class="com-title">公司简介:</div>
      <div class="info">凌尔五金是一家专业生产门窗、门控、幕墙配件，集研发、生产、销售于一体的大型现代化企业。先进的生产设备和完善的质量保证体系，大量优秀的专业人才，团结务实的敬业精神和遍布各地的销售网络使产品远销国内外。“凌尔”品牌把产品的实用性和艺术性相结合，以更贴近人性化的设计为现代人的装饰生活增添更高的品味。我们以质量树品牌，以信誉立市场，以创新谋发展，真诚与客商携手合作共赢，让“凌尔”品牌走向全世界！</div> 
    </div>
  </div>
</div>