.footer{
	margin-top: 100px;
	background-color: #292929;
	padding-bottom: 20px;
	color: #fff;
}

.infomation{
	margin-top: 30px;
	line-height: 30px;
}

.EQ>img{
	margin-top: 10px;
}

.EQ{
	margin-top: 30px;
}

.copyright{
	margin-top: 30px;
}